.movies-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.movies-list__conrainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.movies-list__else-button {
  margin: 50px 0 80px;
  width: 320px;
  height: 36px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  box-sizing: border-box;
  align-self: center;
}

.movies-list__else-button:hover {
  cursor: pointer;
  opacity: .8;
}

.movies-list__conrainer div:nth-of-type(1n+13) {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-list__conrainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 36px;
  }

  .movies-list__conrainer div:nth-of-type(1n+9) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    margin: 0 10px;
  }

  .movies-list {
    margin-top: 50px;
  }

  .movies-list__conrainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
  }

  .movies-list__conrainer div:nth-of-type(1n+6) {
    display: none;
  }
}