.project {
    margin: 0 70px;
}

.project__head {
    border-bottom: 1px #000 solid;
    padding-bottom: 23px;
    margin-top: 110px;
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.project__description {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* .project__info-box{
    margin: 0 40px 0 0;
    flex-basis: 50%;
  }
  
  .project__info-box:last-of-type{
    margin: 0;
  } */

.project__info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 26px;
}

.project__info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.project__period {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 4fr;
    grid-template-rows: 36px 31px;
    margin: 110px 0;
}

.project__timeline {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.project__timeline_backend {
    background-color: #2BE080;
}

.project__timeline_frontend {
    background-color: #f2f2f2;
}

.project__timeline_label {
    color: #A0A0A0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .project {
        margin: 0 50px;
    }

    .project__head {
        margin-top: 90px;
    }

    .project__info-title {
        margin-bottom: 22px;
    }

    .project__description {
        gap: 30px;
    }

    .project__period {
        margin: 90px 0;
    }
}

@media screen and (max-width: 767px) {
    .project {
        margin: 0 18px;
    }

    .project__head {
        padding-bottom: 28px;
        margin-top: 70px;
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
    }

    .project__info-title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
        margin-bottom: 16px;
    }

    .project__description {
        flex-direction: column;
        gap: 55px;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
    }

    .project__info-text {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
    }

    .project__period {
        margin: 60px 0;
    }

    .project__timeline {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
    }


    .project__timeline_label {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        padding-top: 10px;
    }
}